{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding-top: 2%">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form method="post" action="{% url 'users:change_password' %}">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 text-center">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" style="background-color: #000000; color: #33FF00; border: 1px solid #33FF00;">
                        {{ error }}
                    </div>
                {% endfor %}

                    
                    <div style="margin-bottom: 20px;">
                        <h3 style="color: #33FF00;">{{ form.old_password.label }}</h3>
                        {{ form.old_password }}
                        {% for message in form.old_password.errors %}
                            <div class="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                    
                    <div style="margin-bottom: 20px;">
                        <h3 style="color: #33FF00;">{{ form.new_password.label }}</h3>
                        {{ form.new_password }}
                        {% for message in form.new_password.errors %}
                            <div class="alert">{{ message }}</div>
                        {% endfor %}
                    </div>

                    <div style="margin-bottom: 20px;">
                        <h3 style="color: #33FF00;">{{ form.confirm_password.label }}</h3>
                        {{ form.confirm_password }}
                        {% for message in form.confirm_password.errors %}
                            <div class="alert">{{ message }}</div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="form-control btn btn-primary" style="background-color: #000000; border: 1px solid #33FF00; color: #33FF00; transition: background-color 0.3s ease;">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

    <style>
        /* Убираем серые обводки и стили при фокусе */
       
    </style>
{% endblock %}
