{% extends "base.html" %}

{% block content %}
    <div class="container" style="padding-top: 2%">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3">

            <form method="post" action="{% url 'users:signup' %}">
                {% csrf_token %}

                <div style="margin-bottom: 20px;">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>

                <div style="margin-bottom: 20px;">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>

                <div style="margin-bottom: 20px;">
                    {{ form.password1.label }}
                    {{ form.password1 }}
                </div>

                <div style="margin-bottom: 20px;">
                    {{ form.password2.label }}
                    {{ form.password2 }}
                </div>

                <button type="submit" class='form-control btn btn-primary no_borders' style="background-color: #000000; border: 1px solid #33FF00; color: #33FF00;">Sign up</button>
            </form>

            <h5 style="margin-top: 15px; color: #33FF00;">Already have an account? 
                <a href="{% url 'users:login' %}" style="color: #33FF00; text-decoration: underline;">Log In</a>
            </h5>
        </div>
    </div>

    <style>

    </style>
{% endblock %}
