{% extends "base.html" %}

{% block content %}
    <div class="container" style="padding-top: 2%;">
            <br>

            <h1 style="color: #33FF00;">Welcome, {{ user.username }}</h1>

            {% if tags %}
                <table class="table table-hover table-bordered"
                       style="background-color: #000000; color: #33FF00; border: 1px solid #33FF00;">
                    <thead class="text-center" style="background-color: #111;">
                        <tr style="color: #33FF00;">
                            <th>Tag</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                            <tr style="background-color: #000;">
                                <td>
                                    <a href="{% url 'notes:view_tag' %}?tag={{ tag.id }}" class="tag-link">{{ tag.name }}</a>
                                </td>
                                <td class="text-center">
                                    <form action="{% url 'notes:delete_tag' %}" method="POST" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="tag" value="{{ tag.id }}">
                                        <button type="submit" style="background: none; border: none; padding: 0;">
                                            <span class="glyphicon glyphicon-trash" style="color: #33FF00;"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger" style="background-color: #000000; color: #33FF00; border: 1px solid #33FF00;">
                    You have no tags added! Let's add one <a href="{% url 'notes:add_tag' %}" style="color: #33FF00; text-decoration: underline;">here</a>
                </div>
            {% endif %}
        </div>
    </div>

    <style>
        
    </style>
{% endblock %}
