{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form method="post" action="{% url 'notes:edit_note' %}?note={{ note.id }}">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    {% csrf_token %}

                    <h3>{{ form.note_id }}</h3>
                    <br>
                    <h3>{{ form.title.label }}</h3>
                    <br>
                    {{ form.title }}
                    <br>
                    {% if form.tags %}
                    <h3>{{ form.tags.label }}</h3>
                    <br>
                    {{ form.tags }}</h3>
                    {% endif %}
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="inline-headers">
                        <h3> {{ form.content.label }} </h3>
                    </div>
                    <br>
                    {{ form.content }}
                    <br>
                    <input type="submit" value="Update" class='form-control no_borders btn btn-primary'>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
